<?xml version='1.0' encoding='utf-8'?>
<!DOCTYPE hibernate-configuration PUBLIC
    "-//Hibernate/Hibernate Configuration DTD//EN"
    "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
  <session-factory>
    <property name="hibernate.dialect">	org.hibernate.dialect.SQLServerDialect</property>
    <property name="connection.url">jdbc:sqlserver://localhost:1433;database=ACS_WORK_COPY</property>
    <property name="connection.driver_class">com.microsoft.sqlserver.jdbc.SQLServerDriver</property>
    <property name="connection.username">admin</property>
    <property name="connection.password">Jaguar110</property>

    <mapping class="Diplom.hibernate.dao.DetailsEntity"/>
    <mapping class="Diplom.hibernate.dao.OperationsEntity"/>
    <mapping class="Diplom.hibernate.dao.OrdersEntity"/>
    <mapping class="Diplom.hibernate.dao.ProfessionsEntity"/>

    <mapping class="Diplom.hibernate.dao.WorkersEntity"/>
    <mapping class="Diplom.hibernate.dao.DepartmentsSectionsEntity"/>
    <mapping class="Diplom.hibernate.dao.StaffCalculationEntity"/>


  </session-factory>
</hibernate-configuration>
















